wp-admin/
wp-includes/
wp-*.php
xmlrpc.php
license.txt
readme.html
.htaccess

wp-content/*
wp-content/themes/twenty*/
!wp-content/themes/kctennisblast-theme/



wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/blogs.dir/


wp-content/plugins/
# add pluging you want to avoid .gitignore:
# !wp-content/plugins/your-plugin/


wp-config.php
wp-config-sample.php
.env

error_log
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/


node_modules/
npm-debug.log
.sass-cache/
dist/
build/
